# Ignorar carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Ignorar carpetas de Node.js y Serverless
node_modules/
.serverless/

# Ignorar archivos de entorno
.env
.env.local

# Ignorar archivos de configuración de IDE
.idea/
.vscode/